<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="sambamanja">
      <div class="sambamanja-card-left"></div>
      <div class="sambamanja-card-right">
        <div class="unza-logo">
          <div>
            <img class="logo" src="/images/UNZA logo.png" alt="" />
          </div>
          <h1>
            <span class="green">U</span>
            <span class="red">N</span>
            <span class="orange">Z</span>
            <span class="black">A</span> <br />
            SAMBA MANJA
          </h1>
        </div>
        <div>
          <form action="/login" method="POST">
            <input
              type="name"
              name="name"
              autocomplete="name"
              id="name"
              placeholder="Enter your username"
            />
            <input
              type="password"
              name="_password"
              id="user_pass"
              placeholder="Enter password"
            />
            <% if(typeof error !== 'undefined'){ %>
            <div class="err-msg"><%= error %></div>
            <% } %>
            <div class="login-forgot">
              <a href="#" class="login-forgot-password">Forgot Password?</a>
            </div>
            <input class="button-cta" type="submit" value="Login" />
            <div>
              <p class="signup-a">New to Samba Manja?</p>
              <a class="signup" href="./signup">Create Account</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
